<div class='table__cmp__holder'>

  <div class="custom__table__container__dimensions" #customTable>
    <table mat-table *ngIf="displayedColumns && dataSource" [dataSource]="dataSource" class="mat-elevation-z8" [class]="tableCssClass"
      matSort>
      <!-- <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column" [sticky]="isStickyCollumn(column)"> -->
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column" [sticky]="column | genericMapPipe : isStickyCollumn">
        <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSingleRow">{{ column }}</th> -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | TYvsLY | shortMonth }}</th>
        <!-- <td mat-cell *matCellDef="let row" [ngClass]="{'zero': column.includes('vs'), 'positive plus': column.includes('vs') && row[column] > 0, 'negative': column.includes('vs') && row[column] < 0 && row[column] != -100}">{{
          row[column] }}</td> -->
        <!-- <td mat-cell *matCellDef="let row" [ngClass]="tdClass(column, row)">{{ row[column] }}</td> -->
        <td mat-cell *matCellDef="let row" [ngClass]="[column, row] | genericMapPipe_Spread : tdClass">{{ row[column]
          }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [className]="row['Sifra'] === 'AKTIVNI OBJEKTI' || row['Sifra'].substring(0, 3) === 'PET' ? 'active' : 'inactive'"></tr> -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [className]="row['Sifra']"></tr> -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'right aligned': !isSingleRow}" [className]="!this.isNumber(row['Sifra']) ? 'active' : 'inactive'"></tr> -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [className]="(this.isNumber(row.Sifra)) ? 'active' : 'inactive'"></tr> -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="right aligned" [class.active]="!this.isNumber(row.Sifra) && !this.isNumber(row.sifraPartner)"></tr> -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="right aligned" [class.active]="this.isActiveRow(row)"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="right aligned" [class.active]="row | genericMapPipe : isActiveRow"></tr>
    </table>
  </div>

  <div class="footer__paginator">

    <mat-paginator *ngIf="!isSmallTable" [pageSize]="rptData.length <= 200 ? rptData.length : 100" [pageSizeOptions]="[10, 15, 20, 30, 50, 100, 200]"
      class='paginator__wrapper'></mat-paginator>
    <!-- <mat-paginator [pageSize]="customTableHeight" [pageSizeOptions]="[10, 15, 30, 50, 100, 200]" class='paginator__wrapper'></mat-paginator> -->

    <div class="custom__input__positioning">
      <div mat-form-field class="ui icon input  hidden__tablet">
        <input matInput (keyup)="inputFilter($event.target.value)" type="text" placeholder="Filter">
        <i class="search link icon"></i>
      </div>

      <div class="ui large tag labels  filter__labels__display__inline__flex">

        <a *ngFor="let filter of filtersArr; let i=index" class="ui label" [class.active]="filterActive === i" (click)="clickFilter(i, filter)">
          {{ filter }}
        </a>

        <div *ngIf="!filtersArr" class="ui large tag labels  filter__labels__display__inline__flex">
          <a class="ui label" [class.active]="filterActive === 0" (click)="clickFilter(0, 'Can')">
            Can
          </a>
          <a class="ui label" [class.active]="filterActive === 1" (click)="clickFilter(1, 'Pet')">
            Pet
          </a>
          <a class="ui label" [class.active]="filterActive === 2" (click)="clickFilter(2, '7UP')">
            7UP
          </a>
          <a class="ui label" [class.active]="filterActive === 3">
            <span (click)="clickFilter(3, 'Pepsi')">Pepsi</span>
            <div class="detail" [class.active]="filterActive === 4" (click)="clickFilter(4, 'Max')">Max</div>
            <div class="detail" [class.active]="filterActive === 5" (click)="clickFilter(5, 'Twist')">Twist</div>
          </a>
          <a class="ui label" [class.active]="filterActive === 6" (click)="clickFilter(6, 'Mirinda')">
            Mirinda
          </a>
        </div>

      </div>
    </div>

  </div>


  <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [class]="tableCssClass"> -->

  <!-- Generic column definition -->
  <!-- <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
      <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
    </ng-container> -->


  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSingleRow"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSingleRow"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSingleRow"> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSingleRow"> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container> -->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
</div>
