$break-small: 320px;
$break-mobile-small: 480px;
$break-mobile-medium: 640px;
$break-mobile: 768px;
$break-tablet: 1024px;
$break-large: 1200px;


:host {
    height: 100%;
}

.tab__header {
    @media screen and (max-width: $break-mobile-small) {
        overflow-x: overlay;
        overflow-y: hidden;
    }
}

.tab__ellipsis {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.tabular.menu .active.item {
    max-width: 250px;
}

.ui.bottom.attached.segment.tab.active.tab__bottom_margin {
    margin-bottom: 0;
    // height: calc(100vh - 200px);
}

.height__100pt {
    height: 100%;
}

.card__fullwidth {
    width: auto;
    height: 100%;
}

.image__fullheight {
    // max-height: calc(100vh - 260px);
    // height: calc(100vh - 260px);
    height: 100%;
}

.image__fullheight.placeholder {
    max-width: 100%;
    @media screen and (max-width: $break-mobile) {
        // background-image: unset;
        // background: darkslategray;
        background: #bebfbf;
    }
}

/* */

.slide__arrowcontainer_left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* right: 25px; */
}
.slide__arrowcontainer_right {
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 25px; */
    right: 0;
}

.slides .angle {
    color: lightblue;
    cursor: pointer;
    position: relative;
    top: calc(50% - 20px);
    transform: scale(1);
    transition: all .2s ease-in-out;
    z-index: 10;
}

.slides .angle:hover {
    transform: scale(1.7);
}

.slides .angle.left {
    float: left;
    margin-left: 1rem;
}

.slides .angle.right {
    float: right;
    margin-right: 1rem;
}