.menu__custom__styles {
    /* border: 0;
    box-shadow: none; */
    max-width: 100vw;
    /* max-height: 50px; */
    max-height: 66px;
    background: #e0e1e2;

    margin-bottom: 0;
}

.menu__custom__styles .item:before {
    /* background: 0 */
}

/* .menu__gray_bg {
    background: #e0e1e2;
} */

.location__name__btn {
    max-width: calc(100vw - 185px);
}


/* .hidden {
    display: none;
} */


.ui.container__main__content {
    /* padding-top: 67px; */
    height: 100%;
    border-top: 0;
    background: #e0e1e22e;

    max-height: calc(100vh - 64px);
}
