<!-- slike tabovi -->
<ng-template #no_images_msg_template>
  <div class="ui bottom attached red segment">
    Nema slika na datum {{ dateStr | date : 'dd. MMM. yyyy.' }} ...
  </div>
</ng-template>

<sui-tabset *ngIf="pozicije?.length && pozicije as tabs;else no_images_msg_template">
  <!-- tab header -->
  <div class="ui top attached tabular menu  tab__header">
    <a class="item tab__ellipsis" *ngFor="let tab of tabs; let i = index" [suiTabHeader]="i" [(isActive)]="activeTabArr[i]"
      (click)="loadSinglePosition(tab.Sifra)" [style.maxWidth]="getMaxTabHeaderWidth(activeTabArr[i])">
      <i *ngIf="7 >= tabs.length || activeTabArr[i]" class="file image red outline icon"></i>
      {{ tab.Naziv }}</a>
    <a class="item tab__ellipsis" suiTabHeader="zalihe" [isDisabled]="!(zalihe && zalihe.length)" [style.maxWidth]="getMaxTabHeaderWidth(activeTabArr[i])">Zalihe</a>
  </div>

  <!-- image tab content -->
  <div *ngFor="let tab of tabs; let i = index" [suiTabContent]="i" class="ui bottom attached segment  tab__margins__padding  height__100pt">

    <sui-dimmer class="inverted" [(isDimmed)]="segmentDimmed">
      <div class="ui text loader">Učitavanje pozicije {{ tab.Sifra }} ...</div>
    </sui-dimmer>
    <sui-dimmer class="page" [(isDimmed)]="pageDimmed">
      <h2 class="ui inverted icon header">
        <i class="spinner loading icon"></i>
        Učitavanje pozicije {{ tab.Sifra }} ...
      </h2>
    </sui-dimmer>

    <!-- <div *ngFor="let image of singlePosition; let j = index" [class.height__100pt]="j == activeImageIndex" > -->
    <div class="height__100pt">
      <!-- <div *ngIf="j == activeImageIndex" class="ui card  card__fullwidth"> -->
      <div *ngIf="singlePosition && singlePosition[activeImageIndex] as image" class="ui card  card__fullwidth">

        <div class="red card slides  height__100pt" [class.fullscreen]="isFullScreenSlider" (swipeleft)="moveToNextImage()"
          (swiperight)="moveToPrevImage()" (swipeup)="swipeFullScreen(true)" (swipedown)="swipeFullScreen(false)"
          (keydown.enter)="clickFullScreenSliderToggle()" (keydown.ArrowLeft)="clickFullScreenSliderToggle($event)"
          (keydown.ArrowRight)="clickFullScreenSliderToggle($event)" (keydown.ArrowUp)="clickFullScreenSliderToggle($event)"
          (keydown.ArrowDown)="clickFullScreenSliderToggle($event)">

          <a class="slide__arrowcontainer_up_down" (click)="clickFullScreenSliderToggle()">
            <i class="big angle icon" [ngClass]="{'up': !isFullScreenSlider, 'down': isFullScreenSlider}"></i>
            <!-- <i *ngIf="7 >= tabs.length || activeTabArr[i]" class="big down angle icon"></i> -->
          </a>
          <a class="slide__arrowcontainer_left" (click)="moveToPrevImage()" *ngIf="singlePosition.length > 1 || tabs.length > 1">
            <i class="big left angle icon"></i>
          </a>
          <a class="slide__arrowcontainer_right" (click)="moveToNextImage()" *ngIf="singlePosition.length > 1 || tabs.length > 1">
            <i class="big right angle icon"></i>
          </a>
          <!-- <div class="image" (click)="moveToNextImage()"> -->
          <div class="image  image__fullheight" (click)="clickFullScreenSliderToggle()">
            <a class="ui left corner label">
              <i class="icon">{{ tab.Sifra }}</i>
            </a>
            <img class="ui centered image placeholder image__fullheight" [class.placeholder]="!image.Slika" [src]="image.Slika ? isDevMode ? image.Slika : 'https://i0.wp.com/supervisor.apdoo.com' + image.Slika + '?h=1106&quality=99&strip=all' : '/assets/404.svg'">
            <!-- <img class="ui centered image placeholder image__fullheight" [class.placeholder]="!singlePosition[activeImageIndex].Slika" [src]="singlePosition[activeImageIndex].Slika || '/assets/404.svg'" > -->


            <!-- <div class="ui top right attached red label">{{ image.DatumPosete | timeFormat }} h -->
            <div class="ui top right attached red label">{{ image.DatumPosete }} h
              <!-- <span *ngIf="singlePosition.length != 1" class="detail">{{ j + 1 }} od {{ singlePosition.length }} SLIKE</span> -->
              <span *ngIf="singlePosition.length != 1" class="detail">{{ activeImageIndex + 1 }} od {{
                singlePosition.length }} SLIKE</span>
            </div>

            <div class="ui bottom left attached label">{{ route.DuzinaPosete.replace(0, '') }}m
              <span *ngIf="route.DatumPocetka" class="detail">{{ route.DatumPocetka }}-{{ route.DatumZavrsetka }}h</span>
              <span *ngIf="route.PauzaMinuta && route.PauzaMinuta !== '00:00'" class="detail">p: {{ route.PauzaMinuta
                }}</span>
            </div>

            <div *ngIf="route.TargetMesec" class="ui bottom right attached label">m: {{ route.TargetMesec }}/{{
              route.ProdajaMesec }}
              <span *ngIf="route.TargetDan != 1" class="detail">d: {{ route.TargetDan }}\{{ route.ProdajaDan }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- zalihe tab content -->
  <div class="ui bottom attached segment" suiTabContent="zalihe">

    <div *ngIf="zalihe && zalihe.length">
      {{ zalihe[0]?.Naziv_Partner }},
      {{ zalihe[0]?.Ulica_i_Broj }}
    </div>

    <div class="ui link cards">
      <div class="ui card" *ngFor="let artikal of zalihe; let j = index">
        <div class="content">
          <div class="header">{{ artikal.Naziv_Artikal }}</div>
          <div class="meta">
            <span class="category">{{ artikal.RgNaziv }}</span>
          </div>
          <div class="description">
            <table class="ui very basic collapsing celled table">
              <thead>
                <tr>
                  <th *ngIf="artikal.BC">Barkod</th>
                  <th>Ulaz</th>
                  <th>Izlaz</th>
                  <th>Stanje</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="artikal.BC">{{ artikal.BC }}</td>
                  <td>{{ artikal.stanje }}</td>
                  <td>{{ artikal.ulaz }}</td>
                  <td>{{ artikal.Izlaz }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            <!-- <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> -->
            {{ artikal.Naziv_Partner }}

            {{ artikal.Ulica_i_Broj }}
          </div>
        </div>
      </div>
    </div>

  </div>

</sui-tabset>
