<!-- slike tabovi -->
<ng-template #no_images_msg_template>
  <div class="ui bottom attached red segment">
    Nema slika na datum {{ dateStr | date : 'dd. MMM. yyyy.' }} ...
  </div>
</ng-template>

<sui-tabset *ngIf="pozicije?.length && pozicije as tabs;else no_images_msg_template">
  <!-- tab header -->
  <div class="ui top attached tabular menu  tab__header">
    <a class="item tab__ellipsis" *ngFor="let tab of tabs; let i = index" [suiTabHeader]="i" [(isActive)]="activeTabArr[i]"
      (click)="loadSinglePosition(tab.Sifra)" [style.maxWidth]="getMaxTabHeaderWidth(activeTabArr[i])">
      <i *ngIf="7 >= tabs.length || activeTabArr[i]" class="file image red outline icon"></i>
      {{ tab.Naziv }}</a>
    <!-- <a class="item tab__ellipsis" suiTabHeader="zalihe" [isDisabled]="!(zalihe && zalihe.length)" [style.maxWidth]="getMaxTabHeaderWidth(activeTabArr[i])">Zalihe</a> -->
    <a *ngIf="zalihe && zalihe.length" class="item tab__ellipsis" suiTabHeader="zalihe" [style.maxWidth]="getMaxTabHeaderWidth(activeTabArr[i])">Zalihe</a>
  </div>

  <!-- image tab content -->
  <div *ngFor="let tab of tabs; let i = index" [suiTabContent]="i" class="ui bottom attached segment  tab__margins__padding  height__100pt">

    <sui-dimmer class="inverted" [(isDimmed)]="segmentDimmed">
      <div class="ui text loader">Učitavanje pozicije {{ tab.Sifra }} ...</div>
    </sui-dimmer>
    <sui-dimmer class="page" [(isDimmed)]="pageDimmed">
      <h2 class="ui inverted icon header">
        <i class="spinner loading icon"></i>
        Učitavanje pozicije {{ tab.Sifra }} ...
      </h2>
    </sui-dimmer>

    <!-- <app-image-slider [pozicijeIn]="pozicije" [singlePositionIn]="singlePosition" [activeImageIndexIn]="activeImageIndex"
      [routeIn]="route" [segmentDimmedIn]="segmentDimmed" [pageDimmedIn]="pageDimmed" (moveToNextImageAction)="moveToNextImage()"
      (moveToPrevImageAction)="moveToPrevImage()" (isFullscreenSliderAction)="isFullscreenSlider($event)"></app-image-slider> -->
    <app-image-slider [pozicijeIn]="pozicije" [singlePositionIn]="singlePosition" [activeImageIndexIn]="activeImageIndex"
      [routeIn]="route" (moveToNextImageAction)="moveToNextImage()" (moveToPrevImageAction)="moveToPrevImage()"
      (isFullscreenSliderAction)="isFullscreenSlider($event)"></app-image-slider>

  </div>

  <!-- zalihe tab content -->
  <div class="ui bottom attached segment" suiTabContent="zalihe">

    <div *ngIf="zalihe && zalihe.length">
      {{ zalihe[0]?.Naziv_Partner }},
      {{ zalihe[0]?.Ulica_i_Broj }}
    </div>

    <div class="ui link cards">
      <div class="ui card" *ngFor="let artikal of zalihe; let j = index">
        <div class="content">
          <div class="header">{{ artikal.Naziv_Artikal }}</div>
          <div class="meta">
            <span class="category">{{ artikal.RgNaziv }}</span>
          </div>
          <div class="description">
            <table class="ui very basic collapsing celled table">
              <thead>
                <tr>
                  <th *ngIf="artikal.BC">Barkod</th>
                  <th>Ulaz</th>
                  <th>Izlaz</th>
                  <th>Stanje</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="artikal.BC">{{ artikal.BC }}</td>
                  <td>{{ artikal.stanje }}</td>
                  <td>{{ artikal.ulaz }}</td>
                  <td>{{ artikal.Izlaz }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            <!-- <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> -->
            {{ artikal.Naziv_Partner }}

            {{ artikal.Ulica_i_Broj }}
          </div>
        </div>
      </div>
    </div>

  </div>

</sui-tabset>
