$break-small: 320px;
$break-mobile: 768px;
$break-tablet: 1024px;
$break-large: 1200px;

.card__fullwidth {
    width: auto;
}

.tab__header {
    overflow-x: overlay;
    @media screen and (max-width: $break-mobile) {
        overflow-y: hidden;
    }
}

.image__fullheight {
    /* max-height: calc(100vh - 230px);
    height: calc(100vh - 230px); */
    max-height: calc(100vh - 260px);
    height: calc(100vh - 260px);
}

.image__fullheight.placeholder {
    max-width: 100%;
    @media screen and (max-width: $break-mobile) {
        // background-image: unset;
        // background: darkslategray;
        background: #bebfbf;
    }
}

.ui.bottom.attached.segment.tab.active.tab__nobottommargin {
    margin-bottom: 0;
}

/* */

.slide__arrowcontainer_left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* right: 25px; */
}
.slide__arrowcontainer_right {
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 25px; */
    right: 0;
}

.slides .angle {
    color: lightblue;
    cursor: pointer;
    position: relative;
    top: calc(50% - 20px);
    transform: scale(1);
    transition: all .2s ease-in-out;
    z-index: 10;
}

.slides .angle:hover {
    transform: scale(1.7);
}

.slides .angle.left {
    float: left;
    margin-left: 1rem;
}

.slides .angle.right {
    float: right;
    margin-right: 1rem;
}


.tab__ellipsis {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.tabular.menu .active.item {
    max-width: 250px;
}