<div class="ui top  pointing menu menu__custom__styles">
  <!-- <span class="ui   top left attached label">
      {{ activeRouteIndex + 1 }} \ {{ this.workerRoutes.length }}
  </span> -->
  <!-- back to dashboard link -->
  <div class="item">
    <button class="ui right icon button" [routerLink]="['/dashboard']">
      <i class="large left chevron icon"></i>
    </button>
  </div>
  <div class="right menu">
    <!-- datum -->
    <div class="item">

      <div class="ui right floated buttons">
        <button class="ui icon button" (click)="moveToPrevRoute()">
          <i class="left chevron icon"></i>
        </button>
        <button class="ui button  location__name__btn">
          <i class="map marker alternate icon"></i>
          <!-- {{ route?.Naziv.split(activeRoute?.Mesto)[0] }}, {{ activeRoute?.Mesto }} -->
          {{ activeRoute?.Naziv }}, {{ activeRoute?.Mesto }}
        </button>
        <button class="ui right icon button" (click)="moveToNextRoute()">
          <i class="right chevron icon"></i>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="ui bottom attached segment stackable" [class.container__main__content]="pozicije.length">

  <sui-dimmer class="inverted" [(isDimmed)]="segmentDimmed">
    <div class="ui text loader">Učitavanje pozicija ...</div>
  </sui-dimmer>
  <!-- <sui-dimmer class="page" [(isDimmed)]="pageDimmed">
      <h2 class="ui icon inverted header">
          <i class="heart icon"></i>
          Učitavanje pozicija ...
      </h2>
  </sui-dimmer> -->

  <!-- <div class="ui doubling stackable container  height__100pt"> -->
  <div class="height__100pt" style="max-width: 1000px; margin-left: auto;  margin-right: auto;">

    <!-- zalihe tabela -->
    <!-- <div *ngIf="zalihe;else no_zalihe_template"> -->
    <div *ngIf="zalihe">
      <app-zalihe-table [zaliheInput]="zalihe"></app-zalihe-table>
    </div>

    <div *ngIf="!pozicije.length" class="mini__table">
      <app-table-layout [workerRoutesInput]="[workerRoutes[activeRouteIndex]]"></app-table-layout>
    </div>

    <!-- tabovi -->
    <div class="tabs__container">
      <app-tabs *ngIf="pozicije" [pozicijeInput]="pozicije" [zaliheInput]="zalihe" [routeInput]="workerRoutes[activeRouteIndex]" [Fk_Partner]="Fk_Partner" [dateStr]="dateStr" ></app-tabs>
    </div>
    <!-- redni broj aktivne rute \ ukupno ruta -->
    <span class="ui top right attached label">
      ruta {{ activeRouteIndex + 1 }} \ {{ this.workerRoutes.length }}
    </span>

  </div>
</div>
