.segment__main__content {
    /* margin-top: 4.9rem; */
    margin-top: 67px;
    border-top: 0;
    background: #e0e1e22e;
}

.menu__gray_bg {
    background: #e0e1e2;
    max-width: 100vw;
    max-height: 66px;
}

/* Mobile */

@media only screen and (max-width: 767px) {
    .right.menu .item {
        max-width: 50vw;
    }
    .ui.left.icon.input {
        width: 100% !Important;
    }
    .ui.menu.transition.hidden,
    .ui.selection.dropdown .menu {
        max-height: 8.01428571rem;
        max-height: 60vh;
    }
}

@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }
}