$break-small: 320px;
$break-mobile: 768px;
$break-tablet: 1024px;
$break-large: 1200px;

$a: 46px;
$b: 10px;
$c: 47px;
$main-content-margin: $c;
$main-content-margin-mobile: $c + $b;


.ui.segment__nobottommargin {
    margin-bottom: 0;
    overflow: hidden;
}

.page__content__holder {
    height: calc(100% - #{$main-content-margin});
    min-height: calc(100% - #{$main-content-margin});
    max-height: calc(100% - #{$main-content-margin});
}

.ui.segment__main__content {
    margin-top: $main-content-margin;
    // height: calc(100vh - #{$main-content-margin});
    height: 100%;
    min-height: 100%;
    margin-top: #{$main-content-margin};
    border-top: 0;
    // background: #e0e1e22e;
}

.menu__gray_bg {
    background: #e0e1e2;
    max-width: 100vw;
    max-height: 66px;
    // max-height: 46px;
    // max-height: 56px;
    max-height: calc(#{$main-content-margin} - 1px);
    @media screen and (max-width: $break-mobile) {
        max-height: calc(#{$main-content-margin-mobile} - 1px);
    }
}

/* Mobile */

@media only screen and (max-width: 767px) {

    .ui.segment__main__content {
        padding: .1em .1em;
    }
    .menu__gray_bg .right.menu {
        max-width: calc(100vw - 54px);
    }
    // .menu__gray_bg .right.menu sui-select.selection.fluid.ui.dropdown,
    .menu__gray_bg .right.menu sui-select.selection.ui.dropdown {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
    .menu__gray_bg .right.menu .item {
        padding: .92857143em 1.14285714em;
        padding: calc(.92857143em / 2) calc(1.14285714em / 2);
    }
    /* date picker cmp */
    .max__width__mobile {
        width: 150px
    }
    .right.menu .item {
        // max-width: 50vw;
        // max-width: calc(50vw - 25px); // dodate menu ikonica
        width: calc(50vw - 25px); // dodate menu ikonica
    }
}