@media only screen and (min-width: 992px) {
    app-select .ui.form .inline.field>sui-select.selection.dropdown .menu {
        /* was 16.02857143rem */
        max-height: 22rem; // prikazi ceo selection, bez scrollovanja
    }
}

/* Mobile */

@media only screen and (max-width: 767px) {
    // :host
    /* ViewEncapsulation.None */
    app-select {
        width: 100%;
    }
    app-select .ui.form .inline.field>sui-select.selection.dropdown,
    app-select sui-select.selection.ui.dropdown {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
    app-select .ui.form .inline.field>sui-select.selection.dropdown .menu {
        max-height: 90vh; // prikazi ceo selection, bez scrollovanja
    }
    app-select [class*="mobile hidden"] {
        display: none !important;
    }
}