$break-small: 320px;
$break-mobile: 768px;
$break-tablet: 1024px;
$break-large: 1200px;

// .swiped {
//   background: white;
//   /* transition: .3s; */
//   transform: translate(-120px, 0);
// }

// tr,
// tr .unblock__button__holder {
//   transition: .3s;
// }

// .unblock__button__holder {
//   opacity: 1;
//   position: fixed;
//   width: 120px;
//   bottom: 0;
//   top: 0;
//   z-index: -99;
// }

// .unblock__button {
//   position: relative;
//   width: 90%;
//   height: 80%;
//   top: 10%;
//   left: 5%;
// }

// .hidden {
//   /* display: none; */
//   opacity: 0;
// }

.ui.table td.mat-table-sticky {
  background: #eaeaeac7;
  background: #e0e0e0;
  // background: #db2828e0;
  // background: #f57676e0;
  text-align: left;

  // flex: (0 0 400px !Important);
  // flex: 0 0 400px;
  min-width: 200px;
  width: 20vw;
  max-width: 250px;

  @media screen and (max-width: $break-tablet) and (orientation:portrait) {
    min-width: 190px;
  }

  /* Mobile */
  @media screen and (max-width: $break-mobile) {
    padding: 0 .392857145em;
  }
}

.ui.table td.td__opis {
  min-width: 15vw;
  /* Mobile */
  @media screen and (max-width: $break-mobile) {
    padding-top: unset;
    padding-bottom: unset;
  }
}

/* material: https://material.angular.io/components/table/overview */
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

/* single line table styles, eg. route-details table at the top */
.ui.very.basic.table {
  tbody {
    tr.mat-row {
      // border-bottom: unset;
      td.mat-cell {
        border-bottom: unset;
      }
    }
  }
  /* Mobile */
  @media screen and (max-width: $break-mobile) {
    thead {
      tr {
        height: unset;
        th {
          padding: unset;
        }
      }
    }
    tbody {
      tr.mat-row {
        height: unset;
        // border-bottom: unset;
      }
    }
  }
}
