<!-- <div class="ui three item fixed menu  menu__gray_bg"> -->
<div class="ui fixed menu  menu__gray_bg">
  <app-toggle-menu-btn></app-toggle-menu-btn>
  <div class="item   mobile hidden">
    <app-korisnik-meni></app-korisnik-meni>
  </div>
  <div class="right menu">
    <div class="item">
      <app-date-picker [selectedDateInput]="selectedDate" (dateChangeAction)="loadSelectedPartner_dateChange($event)"></app-date-picker>
    </div>
    <div class="item">
      <app-select [optionsInput]="subordinates" [labelField]="'ImeIprezimeRadnik'" [valueField]="'SifraRadnik'"
        (selectedChangeAction)="loadSelectedPartner_subordinateChange($event)" [selectedOptionInput]="selectedSubordinate_SifraRadnik"
        [label]="'Radnik'" [placeholder]="'Pretraži radnike...'"></app-select>
    </div>
  </div>
</div>

<sui-dimmer class="inverted">
  <div class="ui text loader">Učitavanje ruta!</div>
</sui-dimmer>

<div class="page__content__holder">

  <div class="ui text container segment__main__content">
    <div class="ui top aligned center aligned grid" style="height: 50%; margin-top: 20px;">
      <div class="column">

        <div *ngFor="let subordinate of subordinates;" #searchCachingFIX>

          <!-- <div *ngIf="selectedDate && selectedSubordinate_SifraRadnik" class="ui large basic segment" #subordinate.Sifra> -->
          <div *ngIf="selectedDate && selectedSubordinate_SifraRadnik && selectedSubordinate_SifraRadnik === subordinate.SifraRadnik"
            class="ui large basic segment" #subordinate.Sifra>
            <app-search-remote-api (queryOut)='isSearchQueryShort($event)' [labelField]="'Naziv'" [valueField]="'Sifra'"
              [descriptionField]="'Ulica_i_Broj'" [apiEndpointUrl]="'/api/dashboard/workerPartners/' + selectedSubordinate_SifraRadnik"
              [maxResultsInput]="100" (selectedAction)="loadSelectedPartner($event)" [placeholder]="'Pretraži partnere...'"
              [id]="selectedSubordinate_SifraRadnik"></app-search-remote-api>

            <div *ngIf="selectedPartner != null" class="ui big centered gray card">
              <!-- <div [class.disabled]="selectedPartner == null" class="ui big centered gray card"> -->
              <div class="content">
                <!-- <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> -->
                <div class="header">
                  {{ selectedPartner?.Naziv }}
                </div>
                <div class="meta">
                  {{ selectedPartner?.Sifra }}
                </div>
                <div class="description">
                  <a><i class="map marker alternate icon"></i></a>
                  {{ selectedPartner?.Ulica_i_Broj }}
                </div>
              </div>
              <div class="ui bottom attached button" [class.disabled]="isUnblocked" (click)="insertKomercijalistaPravo(selectedPartner.Sifra)">
                <i class="redo icon"></i>
                Odblokiraj unos porudžbine
              </div>
            </div>

            <!-- <app-quick-list [newItem]="selectedPartner" (selectedAction)="loadReportData($event)" [dataSourceInput]="isUnblocked ? selectedPartner : null"></app-quick-list> -->
            <app-quick-list [newItem]="isUnblocked ? selectedPartner : null" [stateKey]="'quickList_unblockParners_' + selectedSubordinate_SifraRadnik"
              (selectedAction)="loadSelectedPartner($event)"></app-quick-list>
          </div>

        </div>

        <div *ngIf="!selectedPartner" class="ui success attached big green message">
          <span *ngIf="!selectedSubordinate_SifraRadnik && !selectedDate; else elseBlock_NoSubordinate">
            Odaberite datum i radnika.</span>
          <ng-template #elseBlock_NoSubordinate>
            <span *ngIf="!selectedSubordinate_SifraRadnik; else elseBlock_NoDate">
              Odaberite radnika.</span></ng-template>
          <ng-template #elseBlock_NoDate>
            <span *ngIf="!selectedDate; else elseBlock_NoPartner">
              Odaberite datum.</span></ng-template>
          <ng-template #elseBlock_NoPartner><span>
              Odaberite partnera (minimum 3 karaktera).</span></ng-template>
        </div>

      </div>
    </div>
  </div>

</div>
