
<!-- <div class="ui middle aligned center aligned grid">
  <h1>Log In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="ui big form raised segment">
      <div [ngClass]="submitted && f.username.errors ? 'field error':'field'">
        <label for="Username">Korisničko ime</label>
        <input id="username" formControlName="username" type="text" [ngClass]="{ 'field error is-invalid': submitted && f.username.errors }" placeholder="Korisničko ime" >
        <div *ngIf="submitted && f.username.errors" class="ui yellow message invalid-feedback">
            <div *ngIf="f.username.errors.required">Unesite vaše korisničko ime</div>
            <div *ngIf="f.password.errors.minlength">Username must be at least 2 characters</div>
        </div>
      </div>
  
      <div [ngClass]="submitted && f.password.errors ? 'field error':'field'">
        <label for="Password">Šifra</label>
        <input id="password" formControlName="password" type="password" placeholder="Šifra">
        <div *ngIf="submitted && f.password.errors" class="ui yellow message invalid-feedback">
          <div *ngIf="f.password.errors.required">Unesite vašu šifru</div>
          <div *ngIf="f.password.errors.minlength">Šifra mora imati najmanje 4 karaketera</div>
        </div>
      </div>

      <div class="ui negative message" [hidden]="!loginApiError">
        <i class="close icon"></i>
        <div class="header">
          Neuspešno logovanje
        </div>
        <p>Pogrešno korisničko ime i\ili šifra</p>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="ui blue button">Login</button>
      </div>
    </div>
  </form>   
</div> -->

<div class="custom__container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui red image header">
        <img src="assets/icons/icon-192x192.png" class="image">
        <div class="content">
          Log In
        </div>
      </h2>
      <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input" [ngClass]="submitted && f.username.errors ? 'field error':'field'">
              <i class="user icon"></i>
              <input id="username" formControlName="username" type="text" [ngClass]="{ 'field error is-invalid': submitted && f.username.errors }" placeholder="Korisničko ime" >
            </div>

            <!-- <div *ngIf="submitted && f.username.errors" class="ui yellow message invalid-feedback">
              <div *ngIf="f.username.errors?.required">Unesite vaše korisničko ime</div>
              <div *ngIf="f.username.errors?.minlength">Username must be at least 2 characters</div>
            </div> -->

          </div>
          <div class="field">
            <div class="ui left icon input" [ngClass]="submitted && f.password.errors ? 'field error':'field'">
              <i class="lock icon"></i>
              <input id="password" formControlName="password" type="password" placeholder="Šifra">
            </div>

            <!-- <div *ngIf="submitted && f.password.errors" class="ui yellow message invalid-feedback">
              <div *ngIf="f.password.errors?.required">Unesite vašu šifru</div>
              <div *ngIf="f.password.errors?.minlength">Šifra mora imati najmanje 4 karaketera</div>
            </div> -->

          </div>
          <button [disabled]="loading" class="ui fluid large blue submit button">Login</button>
        </div>

      </form>

      <div class="ui error message" [hidden]="!loginApiError">
        <div class="header">
          Neuspešno logovanje
        </div>
        <!-- <p>Pogrešno korisničko ime i\ili šifra</p> -->
        <p>{{ loginApiError }}</p>
      </div>

      <div class="ui error message" *ngIf="submitted && (f.username?.errors || f.password?.errors)">
        <ul class="list">
          <li *ngIf="f.username?.errors && f.username?.errors?.required">Unesite vaše korisničko ime</li>
          <li *ngIf="f.username?.errors && f.username?.errors?.minlength">Korisničko ime mora da sadrži minimalno 2 karaktera</li>
          <li *ngIf="f.password?.errors && f.password?.errors?.required">Unesite vašu šifru</li>
          <li *ngIf="f.password?.errors && f.password?.errors?.minlength">Šifra mora imati najmanje 4 karaketera</li>
        </ul>
      </div>

    </div>
  </div>
</div>