/* table {
  max-width: 100vw;
} */

/* */


.swiped {
  background: white;
  /* transition: .3s; */
  transform: translate(-120px, 0);
}

tr,
tr .unblock__button__holder {
  transition: .3s;
}

.unblock__button__holder {
  opacity: 1;
  position: fixed;
  width: 120px;
  bottom: 0;
  top: 0;
  z-index: -99;
}
/* .unblock__button__holder.hidden {
  position: absolute;
} */
/* .unblock__button__holder.singlerow {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
} */

.unblock__button {
  position: relative;
  width: 90%;
  height: 80%;
  top: 10%;
  left: 5%;
}

.hidden {
  /* display: none; */
  opacity: 0;
}