<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <ion-app> -->
  <!-- <ion-router-outlet></ion-router-outlet> -->
<!-- </ion-app> -->

<!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Angular Router</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
      </ul>
  </div>
</nav> -->

<div class="ui top attached demo menu">
  <a class="item" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i> Menu
  </a>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical" #sidebar>
    <div *ngFor="let p of appPages; let i = index">
      <!-- <a class="item" (click)="navigate(p.url)" routerLink > -->
      <a class="item" [routerLink]=[p.route] >
        <i [class]="[p.icon + ' icon']"></i>
        {{p.title}}
      </a>
    </div>
  </sui-sidebar>

  
  <!-- <sui-sidebar  class="ui bottom attached segment" *ngFor="let p of appPages; let i = index">
      <ion-item button (click)="navigate(p.url)">
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label>
          {{p.title}}
        </ion-label>
      </ion-item>

  </sui-sidebar> -->

  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <div class="ui basic segment">
          <!-- <h3 class="ui header">Content</h3>
          <p>Example content beside the sidebar</p>
          <button class="ui button" (click)="sidebar.open()">Open Sidebar</button> -->
          <router-outlet></router-outlet>
      </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>

