<!-- <body class="ui middle aligned center aligned grid" *ngIf="loggedIn; else loggedOut"> -->
    <!-- <div class="ui top attached demo menu" *ngIf="isLoggedIn$ | async; else loggedOut"> -->
<!-- <div class="ui top attached menu">
  <a class="item">
      <i class="sidebar icon"></i> Menu
  </a>
  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Radnik...">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <div class="ui right aligned">
      <a class="item" (click)="logout()">
        <i class="icon"></i> Logout
      </a>
    </div>
  </div>
</div> 
<div class="ui basic segment">-->
  <!-- <router-outlet *ngIf="!(isLoggedIn$ | async)"></router-outlet> -->

  <!-- <router-outlet></router-outlet> -->

<!-- </div> -->
  <!-- <sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="inverted vertical" #sidebar>
      <div *ngFor="let p of appPages; let i = index">
        <a class="item" [routerLink]=[p.route]  (click)="sidebar.close()">
          <i [class]="[p.icon + ' icon']"></i> {{p.title}}
        </a>
      </div>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true"></sui-sidebar-sibling>
  </sui-sidebar-container> -->



<sui-sidebar-container *ngIf="allowSidebarOnPage; else noSidebar" class="ui bottom attached segment  segment__nobottommargin">
    <!-- <sui-sidebar class="inverted vertical thin " #sidebar transition="overlay"  direction="left"> -->
    <sui-sidebar [(isVisible)]="isSidebarVisible" class="inverted vertical menu" #sidebar transition="overlay"  direction="left">  <!-- transition: overlay, uncover, scale down, push, slide along & slide out -->
        <!-- <a class="item" [routerLink]="['/dashboard']">Dashboard<i class="world large icon"></i></a> -->
        <a *ngFor="let p of appPages; let i = index" class="item" [routerLink]=[p.route] (click)="sidebar.close()">
          <i [class]="[p.icon + ' large icon']"></i> {{p.title}}
        </a>
        <div class="ui hidden divider"></div>
        <a class="item flex-container" (click)="logout()" title="logout">Log out <i class="log out large icon"></i></a>
    </sui-sidebar>
    
    <sui-sidebar-sibling [isDimmedWhenVisible]="false" style="height:100%; max-height: 100%; min-height: 100%">
      <router-outlet></router-outlet>
    </sui-sidebar-sibling>
</sui-sidebar-container>


<ng-template #noSidebar>
  <router-outlet></router-outlet>
</ng-template>
<!-- <router-outlet *ngIf="!(isLoggedIn$ | async)"></router-outlet> -->
<!-- <router-outlet *ngIf="!isLoggedIn"></router-outlet> -->