<!-- <body class="ui middle aligned center aligned grid" *ngIf="loggedIn; else loggedOut"> -->
    <!-- <div class="ui top attached demo menu" *ngIf="isLoggedIn$ | async; else loggedOut"> -->
<!-- <div class="ui top attached menu">
  <a class="item">
      <i class="sidebar icon"></i> Menu
  </a>
  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Radnik...">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <div class="ui right aligned">
      <a class="item" (click)="logout()">
        <i class="icon"></i> Logout
      </a>
    </div>
  </div>
</div> 
<div class="ui basic segment">-->
  <router-outlet></router-outlet>
<!-- </div> -->
  <!-- <sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="inverted vertical" #sidebar>
      <div *ngFor="let p of appPages; let i = index">
        <a class="item" [routerLink]=[p.route]  (click)="sidebar.close()">
          <i [class]="[p.icon + ' icon']"></i> {{p.title}}
        </a>
      </div>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true"></sui-sidebar-sibling>
  </sui-sidebar-container> -->
