<div class="custom__container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <!-- <h2 class="ui red image header">
        <img src="assets/icons/icon-192x192.png" class="image">
        <div class="content">
          
        </div>
      </h2> -->

      <!-- <div class="ui vertical menu  menu__width100">
        <a class="item">
          Dashboard
        </a>
        <a class="item">
          Izveštaj KPIS
        </a>
      </div> -->

      <div class="ui placeholder segment">
        <div class="ui two column stackable center aligned grid">
          <div class="ui vertical divider">
            <span class="mobile hidden">Ili</span>
          </div>
          <div class="middle aligned row">
            <a class="column" [routerLink]="['/dashboard']">
              <div class="ui icon header">
                <i class="world icon"></i>
                Dashboard
              </div>
              <div class="ui primary button">
                Dashboard
              </div>
            </a>
            <a class="column"  [routerLink]="['/izvestaj-kpis']">
              <div class="ui icon header">
                <i class="newspaper outline icon"></i>
                Izveštaj KPIs
              </div>
              <div class="ui primary button">
                Izveštaj KPIs
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>