.custom__container {
    background-color: #fff;
}
.custom__container,
.custom__container > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}

/* .ui.menu__width100 {
    width: 100%
} */