$break-small: 320px;
$break-mobile: 768px;
$break-tablet: 1024px;
$break-large: 1200px;

:host {

  /* Mobile */
  @media screen and (max-width: $break-mobile) {
    width: 100%;
  }
}

// app-search,
app-search-remote-api {
  width: 100%;

  sui-search.ui.search {
    width: 100%;
    max-width: 350px;

    .ui.input.icon {
      width: 100%;
    }

    .results {
      // left: -35px; // was 0
      // right: -13px;
      left: unset;
      width: 100%;
      max-height: 700px;
      overflow: auto;
      transition: all .5s;

      /* Mobile */
      @media screen and (max-width: $break-mobile) {
        // max-height: calc(100vh - 70px);
        max-height: calc(100vh - 150px);
      }
    }
  }
}

// .results.transition.visible {
// }
