<div class="ui three item menu"> 
  <!-- <div class="item">  ui top attached menu
    <div class="ui teal horizontal label">Sifra</div>
    {{supervisor?.Sifra}}
  </div> -->
  <div class="item">
    <div class="ui olive horizontal label">Korisnik</div>
    {{supervisor?.Naziv}}
  </div>
  <div class="item" suiPopup #popup="suiPopup"
       popupText="Unesite datum pretrage"
       popupInverted 
       [popupPlacement]="bottom-right">
    <div class="ui form">
      <div class="inline field">
        <label>Datum</label>
        <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input suiDatepicker
            [(ngModel)]="selectedDate"
            [pickerMode]="date"
            [pickerFirstDayOfWeek]="0"
            [pickerUseNativeOnMobile]="false">
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui form">
      <div class="inline field">
        <label>Radnik</label>
        <sui-select class="selection"
                    [options]="subordinates"
                    labelField="ImeIprezimeRadnik"
                    valueField="Fk_Radnik"
                    (selectedOptionChange)="searchEmployeeRoutes($event)"
                    #select>
          <div class="ui icon search input">
              <i class="search icon"></i>
              <input suiSelectSearch type="text" placeholder="Pretraži radnike...">
          </div>
          <div class="divider"></div>
          <div class="header">
              <i class="list icon"></i>
              Opcije
          </div>
          <div class="scrolling menu">
              <sui-select-option *ngFor="let o of select.filteredOptions" [value]="o"></sui-select-option>
          </div>
        </sui-select>
      </div>
    </div>
  </div>
  <!-- <div class="ui right aligned item">
    <a class="ui inverted red button" (click)="logout()">Logout</a>
  </div> -->
</div>
<sui-dimmer class="inverted" [(isDimmed)]="segmentDimmed">
    <div class="ui text loader">Učitavanje ruta!</div>
</sui-dimmer>
<div *ngIf="!workerRoutes || workerRoutes.length == 0" class="ui text container">
  <p *ngIf="!workerRoutes; else elseBlock">Odaberite radnika da biste videli njegove rute.</p>
  <ng-template #elseBlock><p>Ne postoje unete rute za odabranog radnika.</p></ng-template>
</div>
<div class="ui segment" *ngIf="workerRoutes != null && workerRoutes.length > 0">
  <div class="ui grid">
    <div class="sixteen wide tablet eight wide computer column" *ngFor="let route of workerRoutes">
      <app-route-details [route]="route"></app-route-details>
    </div>
  </div>
</div>