.ui.segment__main__content {
    /* margin-top: 4.9rem; */
    margin-top: 67px;
    border-top: 0;
    background: #e0e1e22e;
}

.menu__gray_bg {
    background: #e0e1e2;
    max-width: 100vw;
    max-height: 66px;
}

/* Mobile */

/* @media only screen and (max-width: 767px) {
    .right.menu .item {
        max-width: 50vw;
        min-width: 35vw;
    }
} */

/* @media only screen and (max-width: 640px) {
    .ui.menu .right.menu .item {
        padding: .464285715em .57142857em;
        padding: 0;
        min-width: calc(50vw - 5px);
    }
} */